/*--------------------------------------------------------------
#about
--------------------------------------------------------------*/
/* about*/

.about .content {
  padding: 30px 0;
  margin-bottom: 100px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
}

.about .content p {
  margin-bottom: 0;
}

.about .content .icon-box {
  margin-top: 25px;
}

.about .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.about .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #bd38ff;
}

.about .content .icon-box p {
  font-size: 15px;
  color: 000000;
  margin-left: 60px;
}

.about .image {
  background: url("assets/img/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}

@media (max-width: 991px) {
  .about .image {
    text-align: center;
  }
  .about .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
}


/*--------------------------------------------------------------
# whyus
--------------------------------------------------------------*/
/* jurusan */
.why-us{
  margin-bottom: 100px;
}
.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }
  
  .why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #111111;
  }
  
  .why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #2a2a2a;
  }
  
  .why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #bd38ff;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
    color: #fff;
  }